<div id="body w-full flex justify-center ">
    <form class="lg:w-[100%] flex flex-col  items-center p-8" [formGroup]="form" (ngSubmit)="onRegister()">
        <img src="../assets/icons/favicon-32x32.png" alt="">
        <div class="w-full my-20 text-center">
            <h1 class="">Inscribe tu emprendimiento</h1>
            <p class="">¡Comienza a vender ahora!</p>
        </div>
        <div class=" lg:w-[30%] ">
            <p class="m-1">Documento</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="text"
             formControlName="document"
             >
        </div>
        <div class=" lg:w-[30%]">
            <p class="m-1">Nombre</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="text"
             formControlName="firstName"
             >
        </div>
        <div class=" lg:w-[30%]">
            <p class="m-1">Apellido</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="text"
             formControlName="lastName"
             >
        </div>
        <div class=" lg:w-[30%]">
            <p class="m-1">Nombre emprendimiento</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="text"
             formControlName="nameEmprendimiento"
             >
        </div>
        <div class=" lg:w-[30%]">
            <p class="m-1">E-mail</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="email"
             formControlName="email"
             >
        </div>
        <div class=" lg:w-[30%]">
            <p class="m-1">Direccion</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="text"
             formControlName="address"
             >
        </div>
        <div class=" lg:w-[30%]">
            <p class="m-1">Telefono</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="text"
             formControlName="phoneNumber"
             >
        </div>
        <div class=" lg:w-[30%] mb-4">
            <p class="m-1">Descripcion</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="text"
             formControlName="description"
             >
        </div>
        <div class=" lg:w-[30%]">
            <p class="m-1">Contraseña</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="password"
             formControlName="password"
             >
        </div>
        <div class=" lg:w-[30%] mb-4">
            <p class="m-1">Confirmar contraseña</p>
            <input
             class="lg:w-[50%] h-2/4 border border-sky-500 rounded mb-4" 
             type="password"
             formControlName="confirmPassword"
             >
        </div>
        <button type="submit" class="bg-button-blue lg:w-[25%] p-1 rounded text-white"(click)="enviocorreo()">Continuar</button>
        <p class="mt-16 mb-5 text-xs">¿Ya estás registrado?</p>
        <a class="mb-8" href="login">
            <Button  type="button" class="w-full p-1 rounded border border-sky-500 text-black" id="createAcountBtn">¡Inicia sesión aqui!</Button>
        </a>
    </form>
</div>