<section class="flex justify-evenly w-full md:my-10 flex-col
    lg:flex-row h-full">


    <div class="welcome flex flex-col items-center justify-center max-md:h-[20%]">
        <img class="size-60  object-contain h-1/6 max-sm:hidden" src="../../../../assets/img/logoAzul.png" alt="">
        <img class="size-72 lg:size-96 2xl:w-[20%]" src="../../../../assets/img/emprendimiento.png" alt="">  
    </div>

    <form [formGroup]="form" (ngSubmit)="onRegister()" class="flex items-center flex-col gap-3 px-3 md:p-4 md:shadow-lg lg:w-2/5
            max-md:h-[50%]">
        <p class="text-center w-[80%]"><span class="text-xl"> Registra tu emprendimiento</span><br>¡Comienza a vender ahora!</p> 

        <input class="outline-none border-1 p-2 px-3 w-full" formControlName="document" type="text" name="" id="document" placeholder="documento">
        <div class="w-full">
            <input class="outline-none border-1 p-2 px-3 w-1/2" formControlName="firstName" type="text" name="" id="nameE" placeholder="Nombre emprendedor">
            <input class="outline-none border-1 p-2 px-3 w-1/2" formControlName="lastName" type="text" name="" id="lastNameE" placeholder="Apellido emprendedor">
        </div>
        <input class="outline-none border-1 p-2 px-3 w-full" formControlName="nameEmprendimiento" type="text" name="" id="name" placeholder="Nombre de emprendimiento">
        <input class="outline-none border-1 p-2 px-3 w-full" formControlName="description" type="text" name="" id="description" placeholder="Descripción">
        <input class="outline-none border-1 p-2 px-3 w-full" formControlName="address" type="text" name="" id="Direction" placeholder="Dirección">
        <input class="outline-none border-1 p-2 px-3 w-full" formControlName="email" type="text" name="" id="email" placeholder="E-mail">
        <div class="pass w-full flex gap-3">
            <input class="outline-none border-1 p-2 px-3 w-full" formControlName="password" type="password" name="" id="password" placeholder="Contraseña">
            <input class="outline-none border-1 p-2 px-3 w-full" formControlName="confirmPassword" type="password" name="" id="confirmPass" placeholder="Confirmar Contraseña">
        </div>
        <div class="confirm w-full flex flex-col items-center">
            <button *ngIf="!(isLoading()|async)"  class="bg-button-blue px-4 py-2 rounded-lg text-white text-lg w-[40%]">Crear</button>
            <app-spinner-blade *ngIf="(isLoading()|async)" ></app-spinner-blade>
        </div>
        <a href="/login" class="text-center max-sm:mb-5">¿Ya tienes una cuenta? <br> Da click aquí</a>
    </form>
</section>