<div class="h-fu" *ngIf="(thereAreOffers() | async)" id="container">
    <div id="homeCarousel" class="carousel carousel-dark slide d-flex justify-content-center" data-ride="carousel">
        <div class="carousel-inner  w-full shadow">
            <div class="carousel-item active">
                <div class="card bg-dark text-white m-width-100 " >
                    <div class="row ">
                        <div class="col-sm-8">
                            <img class="img-fluid mx-auto d-block w-75" src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023"
                                alt="..." style="transform: scale(1.4);">
                        </div>
                        <!-- <div class="col-sm-4 ">
                            <div class="row  p-3">
                                <div class="w-50">
                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50">

                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="w-50 " >
                                    <img class="col  img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50 " >

                                    <img class="col img-thumbnail  w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>                      
                            <div class="card-body">
                                <h5 class="card-title">Mac Book Pro</h5>
                                <p class="card-text">Pantalla FHD 120hz.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card bg-dark text-white m-width-100 " >
                    <div class="row ">
                        <div class="col-sm-8">
                            <img class="img-fluid mx-auto d-block w-75" src="https://cdnx.jumpseller.com/gestell-technology/image/33489676/resize/1200/1200?1680050556"
                                alt="..." style="transform: scale(1.4);">
                        </div>
                        <div class="col-sm-4 ">
                            <div class="row  p-3">
                                <div class="w-50">
                                    <img class="col img-thumbnail w-100"
                                        src="https://cdnx.jumpseller.com/gestell-technology/image/33489676/resize/1200/1200?1680050556">
                                </div>
                                <div class="w-50">

                                    <img class="col img-thumbnail w-100"
                                        src="https://cdnx.jumpseller.com/gestell-technology/image/33489676/resize/1200/1200?1680050556">
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="w-50 " >
                                    <img class="col  img-thumbnail w-100"
                                        src="https://cdnx.jumpseller.com/gestell-technology/image/33489676/resize/1200/1200?1680050556">
                                </div>
                                <div class="w-50 " >

                                    <img class="col img-thumbnail  w-100"
                                        src="https://cdnx.jumpseller.com/gestell-technology/image/33489676/resize/1200/1200?1680050556">
                                </div>
                            </div>                      
                            <div class="card-body">
                                <h5 class="card-title">Air pods pro</h5>
                                <p class="card-text">Calidad de sonido, cancelación de sonido exterior e inalámbricos para mayor comodidad, es apple.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card bg-dark text-white m-width-100 " >
                    <div class="row ">
                        <div class="col-sm-8">
                            <img class="img-fluid mx-auto d-block w-75" src="https://http2.mlstatic.com/D_Q_NP_841787-MLA44484414455_012021-O.webp"
                                alt="..." style="transform: scale(1.4);">
                        </div>
                        <div class="col-sm-4 ">
                            <div class="row  p-3">
                                <div class="w-50">
                                    <img class="col img-thumbnail w-100"
                                        src="https://http2.mlstatic.com/D_Q_NP_841787-MLA44484414455_012021-O.webp">
                                </div>
                                <div class="w-50">

                                    <img class="col img-thumbnail w-100"
                                        src="https://http2.mlstatic.com/D_Q_NP_841787-MLA44484414455_012021-O.webp">
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="w-50 " >
                                    <img class="col  img-thumbnail w-100"
                                        src="https://http2.mlstatic.com/D_Q_NP_841787-MLA44484414455_012021-O.webp">
                                </div>
                                <div class="w-50 " >

                                    <img class="col img-thumbnail  w-100"
                                        src="https://http2.mlstatic.com/D_Q_NP_841787-MLA44484414455_012021-O.webp">
                                </div>
                            </div>                      
                            <div class="card-body">
                                <h5 class="card-title">Playstation 5</h5>
                                <p class="card-text">Los mejores gráficos en juegos con un diseño increíble.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev "  type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
        </button>

    </div>
    
</div>
<button class="absolute right-4 bottom-4" (click)="openModal()"><img class="size-8" src="../../../assets/icons/help_buttom.svg" alt=""></button>
<app-chatbot class="w-full h-full" #chatbot></app-chatbot>
<app-productos></app-productos>
