<div class="container my-4 w-75">

    <div id="homeCarousel" class="carousel carousel-dark slide  p-4 d-flex justify-content-center" data-ride="carousel">
        <div class="carousel-inner  w-75 shadow">
            <div class="carousel-item active">
                <div class="card bg-dark text-white m-width-100 " >
                    <div class="row ">
                        <div class="col-sm-8">
                            <img class="img-fluid mx-auto d-block w-75" src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023"
                                alt="..." style="transform: scale(1.4);">
                        </div>
                        <div class="col-sm-4 ">
                            <div class="row  p-3">
                                <div class="w-50">
                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50">

                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="w-50 " >
                                    <img class="col  img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50 " >

                                    <img class="col img-thumbnail  w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>                      
                            <div class="card-body">
                                <h5 class="card-title">Card title 1</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card bg-dark text-white m-width-100 " >
                    <div class="row ">
                        <div class="col-sm-8">
                            <img class="img-fluid mx-auto d-block w-75" src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023"
                                alt="..." style="transform: scale(1.4);">
                        </div>
                        <div class="col-sm-4 ">
                            <div class="row  p-3">
                                <div class="w-50">
                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50">

                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="w-50 " >
                                    <img class="col  img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50 " >

                                    <img class="col img-thumbnail  w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>                      
                            <div class="card-body">
                                <h5 class="card-title">Card title 1</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card bg-dark text-white m-width-100 " >
                    <div class="row ">
                        <div class="col-sm-8">
                            <img class="img-fluid mx-auto d-block w-75" src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023"
                                alt="..." style="transform: scale(1.4);">
                        </div>
                        <div class="col-sm-4 ">
                            <div class="row  p-3">
                                <div class="w-50">
                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50">

                                    <img class="col img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="w-50 " >
                                    <img class="col  img-thumbnail w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                                <div class="w-50 " >

                                    <img class="col img-thumbnail  w-100"
                                        src="https://cdn.shopify.com/s/files/1/0604/8373/1606/products/IMG-105270_823x.jpg?v=1658326023">
                                </div>
                            </div>                      
                            <div class="card-body">
                                <h5 class="card-title">Card title 1</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev "  type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
        </button>

    </div>

</div>

<app-productos></app-productos>