<div class="relative w-full">
  <div *ngIf="headerService.isShowing()| async" class="w-full h-12 flex justify-around items-center">
    <div class="flex relative items-center">
      <img (click)="headerService.goBack()" [@showArrow]="show? 'show' : 'hide' " class="size-6 absolute -ml-1"
        src="../../../assets/icons/left-arrow-svgrepo-com.svg" alt="">
      <a href="/">
        <img [@canGoBack]="itCan? 'can' : 'cant' " class="icon" src="../../../assets/icons/android-chrome-192x192.png"
          alt="">
      </a>
    </div>
    <div class="inputWrapper relative w-3/5">
      <input class="bg-slate-200 h-2/3 w-full border rounded-2xl p-2 text-sm overflow-auto" 
       id="inputHeader" 
       type="search"
       placeholder="Busca productos, tiendas y más..."
       (input)="actualizarFiltro($event)">

      <img class="len absolute top-2 right-2 w-4" src="../../../assets/icons/lens-svgrepo-com.svg" alt="">
    </div>
    <div *ngIf="!(userService.isUserActive() | async)" class="hidden sm:block flex justify-around"
      id="signup_signin">
      <a class="mx-4" href="login">Inicio</a>
      <a class="mx-4" href="signin">Registro</a>
    </div>
    <div *ngIf="(userService.isUserActive() | async)" class="hidden sm:block flex justify-around"
      id="signup_signin">
      {{userService.user.value.email}}
      <button (click)="userService.closeSession()" >Salir</button>
    </div>
    <nav class="navbar">
      <div class="navbar-cart static" (click)="onToggleCart()">
        <div class="items bg[#0d6efd] text-xs absolute -top-1 -right-3" *ngIf="(myCart$ | async)?.length">
          <p>{{ (myCart$ | async)?.length }}</p>
        </div>
        <i class="fa-solid fa-cart-shopping"></i>
        <img class="size-4" src="../../../assets/icons/shopping_cart_counting.svg" alt="">
      </div>
    </nav>
  </div>
</div>
<div class="cart w-full h-full" [ngClass]="{ show1: viewCart }">
  <app-carrito-compra class="static h-full w-full"></app-carrito-compra>
</div>