<div class="relative w-full px-4">
  <div *ngIf="headerService.isShowing()| async" class="w-full h-12 flex justify-evenly items-center">
    <div class="flex relative items-center">
      <img (click)="headerService.goBack()" [@showArrow]="show? 'show' : 'hide' " class="size-6 absolute -ml-1"
        src="../../../assets/icons/left-arrow-svgrepo-com.svg" alt="">
      <a href="/">
        <img [@canGoBack]="itCan? 'can' : 'cant' " class="icon object-contain size-10" src="../../../assets/icons/android-chrome-192x192.png"
          alt="">
      </a>
    </div>
    
    <!-- SEARCH -->
    <div class="inputWrapper relative w-3/6 2xl:w-4/6 flex items-center ">
      <input class="bg-slate-200 w-full border-2 rounded-2xl py-2 px-4 ml-2 text-sm overflow-auto outline-none border-blue-500" id="inputHeader"
      type="search" placeholder="Buscar" (input)="actualizarFiltro($event)">
    </div>
    
    <div class="anclas py-3 flex flex-row items-center justify-end md:justify-around w-full max-md:w-3/6 lg:w-2/6">
      
      <!-- product link -->
      <div class="sections flex flex-row items-center justify-around w-5/6 md:w-2/4 md:ml-2">
        <a class="hover:scale-110 ease-in-out duration-150" href="products">Productos</a>
        <p class="text-xl pt-2 text-blue-500 max-sm:mx-3">|</p>
        <a class="hover:scale-110 ease-in-out duration-150" href="companies">Emprendedores</a>
      </div>
      <!-- BOTONES DE LOGIN -->
      <div *ngIf="!(auth.isLoggedIn() | async)" class="max-sm:hidden sm:block flex  max-md:w4/6 items-center " id="signup_signin">
        <a class="mx-2 lg:mx-10 border py-2 px-1 rounded-md bg-blue-500 hover:bg-blue-950 text-white hover:scale-105 ease-in-out duration-150" href="login">Inicia sesion</a>
        <a class="hover:scale-105 ease-in-out duration-150" href="signin">Registro</a>
      </div>
    </div>
      
    <!-- USER PROFILE -->
    <div *ngIf="(auth.isLoggedIn() | async) && (auth.isClient() | async)" class="hidden sm:block flex justify-around" id="signup_signin">
      <button class="blankButton hover:scale-105 ease-in-out duration-150" (click)="navigateToUserProfile()">Perfil</button>
    </div>
    
    <div *ngIf="(auth.isLoggedIn() | async) && (auth.isCompany() | async)  && !isPerfilCompanyComponent()" class="hidden sm:block flex justify-around" id="signup_signin">
      <button class="blankButton hover:scale-105 ease-in-out duration-150" (click)="navigateToCompanyProfile()">Perfil</button>
    </div>
    <div *ngIf="(auth.isLoggedIn() | async) && (auth.isCompany() | async)  && isPerfilCompanyComponent()" class="hidden sm:block flex justify-around" id="signup_signin">
      <button class="blankButton hover:scale-105 ease-in-out duration-150" (click)="navigateToCompanyHome()">Principal</button>
    </div>
    
    <!-- SING OUT BUTTON -->
    <div *ngIf="(auth.isLoggedIn() | async)" class="hidden sm:block flex justify-around" id="signup_signin">
      <button class="blankButton hover:scale-105 ease-in-out duration-150" *ngIf="auth.isLoggedIn()|async"  (click)="auth.logout()">salir</button>

    
    </div>

 

    <nav class="navbar" *ngIf="(auth.isLoggedIn() | async)">
      <div class="navbar-cart static" (click)="onToggleCart()">
        <div class="items bg[#0d6efd] text-xs absolute -top-1 -right-3" *ngIf="(myCart$ | async)?.length">
          <p>{{ (myCart$ | async)?.length }}</p>
        </div>
        <div>
          <div *ngIf="(cartService.itemAdded() | async)"
            class="absolute -right-2 top-0 bg-[#128aaf] rounded-full size-3">.</div>
          <i (click)="cartService.itemAdd.next(false)" class="fa-solid fa-cart-shopping fa-lg cursor-pointer"></i>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="hidden cart w-full h-full" [ngClass]="{ show1: viewCart }">
  <app-carrito-compra class="static h-full w-full"></app-carrito-compra>
  <div>
         
    <h2 *ngIf="auth.isCompany()| async">Hi Company</h2>
    <h2 *ngIf="auth.isClient()| async">Hi Client</h2>
    <h2 *ngIf="auth.isAdmin()| async">Hi Jefe</h2>
    <h2 *ngIf="!(auth.isLoggedIn()| async)">¡Hola!</h2>
    </div>
</div>