<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../common/head'); %>
    <link rel="stylesheet" href="../../public/styles/nosotros.css">
</head>

<body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <header>
                    <%- include('../common/header'); %>
                </header>
    
            </div>
        </nav>

    <section class="nosotros">
        <h2>Origen de eyesure</h2>

        <p>La idea de crear eyesure surgió luego de identificar que en nuestro centro de formación  no se establecía un registro de cada persona que ingresaba al establecimiento y eso vulneraba la seguridad ya que no se podía constatar si cada persona que ingresaba si pertenecía realmente al centro de formación o si realmente iría a hacer las labores por las que fue, por lo tanto con este aplicativo móvil se lograría tener un control de cada visitante y así tener una verificación facial y sus datos personales en caso de requerir la identificación de alguien para posteriormente investigarlo. <br><br>Este proyecto no va a ser propio para el centro de formación sino, que va a ser adaptable a cualquier entidad que lo necesite, como pueden ser: entidades gubernamentales, empresas, conjuntos residenciales, gimnasios, bancos y cualquier establecimiento de alta aglomeración que así lo requiera.</p><br>
        
        <p id="grupo">Somos Estudiantes del Sena de comercio y turismo de Armenia Quindío y nuestro equipo se conforma por:
        </p>
    </section>

    <section>
    <table class="nombres">
        <tr>
            <th>leonardo </th>
            <th>Santiago Osorio</th>
            <th>ximena Facundo</th>
            <th>Ana Martínez </th>
            <th>Jhon Jairo Giraldo</th>
            <th>Marlon Stick</th>
        </tr>
        <tr>
            <td> <img src="../../public/images/leonardo.jpeg" width="100px" height="100px" class="fotosnosotros"> </td>
            <td> <img src="../../public/images/eddy.jpeg" width="100px" height="100px" class="fotos_nosotros"> </td>
            <td> <img src="../../public/images/claudia.jpg" width="100px" height="100px" class="fotos_nosotros"></td>
            <td> <img src="../../public/images/ana.jpeg" width="100px" height="100px" class="fotos_nosotros"> </td>
            <td> <img src="../../public/images/jhon.jpeg" width="100px" height="100px" class="fotos_nosotros"> </td>
            <td> <img src="../../public/images/foto01.jpg" width="100px" height="100px" class="fotos_nosotros"> </td>
        </tr>



    </table>
    </section>

<footer>
    <%- include('../common/footer'); %>
</footer>

</body>
</html>