<!-- <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="addProduct(product)">
  Agregar
</button> -->
<div>
         
  <h2 *ngIf="auth.isCompany()| async">Hi Company</h2>
  <h2 *ngIf="auth.isClient()| async">Hi Client</h2>
  <h2 *ngIf="auth.isAdmin()| async">Hi Jefe</h2>
  <h2 *ngIf="!(auth.isLoggedIn()| async)">HOla humano</h2>
 
  </div>
<!-- hola -->
<div id="container" class="productos w-full h-full  overflow-auto">
  <div class="w-full mx-3 my-1 flex justify-around gap-4 h-fit md:w-1/4" 
    *ngFor="let product of filteredProducts">
    <!-- Utiliza filteredProducts en lugar de listProducts -->

    <div class="card shadow p-3 items-center rounded flex flex-row w-full cursor-pointer">
      <div class="size-40">
        <img [src]="product.image" class="object-contain size-40" alt="... " (click)="mostrarDetalle(product.id)">
      </div>
      <div class="size-40 w-2/3 mx-2 px-2 flex flex-col justify-between">
        <div class="card-body">
          <h5 class="card-title top-0 text-xl">{{product.name}}</h5>
          <p class="text-sm text-gray-400">{{product.category}}</p>
        </div>
        <div class="text-sm"> $ {{product.price | currency}}</div>
        <div class="card-body flex justify-between items-end relative">
          <button  class="btn btn-primary btn-sm rounded w-3/4" (click)="mostrarDetalle(product.id)">Comprar ahora</button>
          <button class="btn btn-sm rounded w-1/6 absolute right-0 cursor-pointer" (click)="addToCart(product)">
            <img [src]="cartIcon" alt="">
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
