<div class="card container m-auto mt-5 p-5 w-75 row d-flex row justify-content-between">
    <div class="row">

        <div class="col">
            <img [src]="detail.image" alt="">
        </div>
        <div class="col ">

            <P class="fs-1"> {{detail.name}}</P>
            <p class="fs-6">{{detail.categoria}}</p>
            <div class="descripcion">

                <span class="title">Características</span> <br><br>
                <p>{{detail.description}}</p>
            </div>

            <div class="precio">
                <p>{{detail.price}}</p>
                <button class="btn btn-primary"
                    (click)="generatePDF(detail.name , detail.price)">Comprar</button>
            </div>

        </div>
    </div>
</div>