<!--Main container that centers the content and sets a maximum width -->
<div *ngIf="detail" class="border-3 h-4/5 container mx-auto p-5 px-5 lg:w-2/3  md:shadow-xl md:rounded-2xl lg:shadow-xl lg:rounded-2xl">

    <!-- Flexible container that changes the arrangement of elements on large screens -->
    <div class="flex flex-col lg:flex-row lg:gap-8 md:gap-10 sm:gap-12">

        <!-- First block with the product image -->
        <div class="w-[50%] lg:w-1/1 flex items-center ">
            <div class="product-image w-48  mx-auto mt-10 mb-10 object-cover rounded-md lg:mt-0 md:mb-10">
                <!-- Product image with size and margin adjustments on large screens -->
                <img class="lg:mt-10" [src]="detail.image" style="transform: scale(1.5); ">
            </div>
        </div>

        <!-- Second block with product information -->
        <div class="w-full lg:w-2/4 mt-10 lg:mt-0">
            <h2 class="text-2xl font-semibold">{{detail.name}}</h2> <!-- Product name -->
            <h3 class="text-lg text-gray-600 mb-2">{{detail.category}}</h3> <!-- Product category -->
            <form>
                <div class="flex items-center mb-4 text-2xl">
                    <p class="clasificacion">
                        <!-- Star selector for product rating -->
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                    </p>
                </div>
                <p class="text-sm text-gray-600">Detalles del producto: {{detail.detail}}</p> <!--Product Details -->
                <div class="text-lg font-semibold mt-2">Precio: $ {{detail.price}}</div> <!-- Price of the product -->

                <!-- "Buy" and "Add to favorites" buttons -->
                <div class="flex mt-6">
                    <button *ngIf="!(isLoading()|async)" class="add-to-cart-button bg-[#255BAD] text-white py-2 px-4 rounded-md mr-4"
                    (click)="createOrder()">Comprar</button>
                    <div *ngIf="(isLoading()|async)" class="spinner center mx-12">
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                        <div class="spinner-blade"></div>
                    </div>
                    <button class="btn btn-sm rounded w-1/6 right-0 cursor-pointer" (click)="addToCart(detail)">
                        <img [src]="cartIcon" alt="">
                      </button>
                </div>
            </form>
        </div>
        <div class="flex items-center" >
            <img class="w-64 h-64" src="../../../assets/img/detalle icon.png" alt="">
        </div>
    </div>
    
</div>