<nav>
    <img src="../../../assets/img/logo.png" width="300px" wialt="Logo">
    <div class="color">
    
        <div class="col-md-5 col-12">
            <!-- Email input -->
           
            <div class="form-outline form-white mb-4">
               
              <input type="email" id="form5Example21" class="form-control " placeholder="Buscar "  />
            </div>
          </div>
    <ul>
        <li class="text-light"><a href="">Inicio</a></li><i class=" bi bi-person-fill"></i>
        <li class="text-light"><a *ngIf="!isLoged" href="login">  Iniciar Sesión</a></li>
        <li class="text-light"><a href="####">Más info</a></li>
        <li class="text-light"><a *ngIf="isLoged" (click)="auth.logout()" >Salir</a></li>
    </ul>
    </div>

   
</nav>
