<section class="sm:max-md:mx-5 md:flex lg:flex-row w-full h-auto justify-evenly lg:items-center my-10 ">

    <form class="flex flex-col items-center p-4 lg:shadow-lg sm:max-md:w-full lg:w-2/5 lg:h-2/6 justify-around"
        [formGroup]="form" (ngSubmit)="onRegister()">

        <div class="w-full text-center mt-3 flex flex-col items-center">
            <img class="size-2/4 justify-start object-contain" src="../../../../assets/img/logoAzul.png" alt="">
            <img src="../../../../assets/img/createAccount.png" alt="" class="md:hidden size-3/6 object-contain">
        </div>
        
        <div class="inputs w-full md:w-4/6 rounded mt-4 p-2 flex flex-col gap-2">
            <h1 class="text-xl text-center">Crea tu cuenta personal</h1>
            <input class="border px-3 py-2 outline-none rounded" type="text" formControlName="firstName"
                placeholder="Nombre">
            <input class="border px-3 py-2 outline-none rounded" type="text" formControlName="document"
                placeholder="Número de identificación">
            <input class="border px-3 py-2 outline-none rounded" type="email" formControlName="email"
                placeholder="E-mail">
            <input class="border px-3 py-2 outline-none rounded" type="password" formControlName="password"
                placeholder="contraseña">
            <input class="border px-3 py-2 outline-none rounded" type="password" formControlName="confirmPassword"
                placeholder="Confirmar contraseña">
            <div class="flex flex-col items-center w-full">
                <button *ngIf="(isLoading()|async)" type="submit"
                    class="bg-button-blue w-full p-1 rounded mt-3 text-white">Continuar</button>
                <app-spinner-blade *ngIf="!(isLoading()|async)"></app-spinner-blade>
            </div>
            <p class="text-xs text-center">¿Ya estás registrado?</p>
            <a class="mb-8" href="/login">
                <Button type="button" class="blankButton w-full p-1 rounded border  text-black" id="createAcountBtn">¡Inicia sesión
                    aqui!</Button>

                <!-- ---- Config Spinner ---- -->
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="square-jelly-box">

                    <p style="font-size: 20px; color: white">Cargando...</p>
                </ngx-spinner>
            </a>
        </div>
        


    </form>

    <img src="../../../../assets/img/createAccount.png" alt="" class="max-lg:hidden size-2/6 object-contain">

</section>