<section class="sm:max-md:mx-5 lg:flex lg:flex-row w-full justify-evenly border py-4">

    <form class="border flex flex-col items-center p-8 shadow-lg sm:max-md:w-full lg:w-[45%] lg:h-[50%]"
        [formGroup]="form" (ngSubmit)="onRegister()">
        <img src="../assets/icons/favicon-32x32.png" alt="">
        <div class="w-full my-20 text-center">
            <h1 class="">Crea tu cuenta personal</h1>
            <p class="">¡Comienza a comprar ahora!</p>
        </div>

        <div class="form md:w-[70%]">
            <input class="w-full border border-sky-500 rounded mb-4 p-2" type="text" formControlName="firstName"
                placeholder="Nombre">

            <input class="w-full border border-sky-500 rounded mb-4 p-2" type="email" formControlName="email"
                placeholder="E-mail">
            <input class="w-full  border border-sky-500 rounded mb-4 hover:outline-none p-2" type="password"
                formControlName="password" placeholder="contraseña">
            <input class="w-full border border-sky-500 rounded mb-4 p-2" type="password"
                formControlName="confirmPassword" placeholder="Confirmar contraseña">

            <button (click)="openSpinner()" type="submit"
                class="bg-button-blue w-full p-1 rounded text-white">Continuar</button>
            
                <!-- ---- Config Spinner ---- -->
            <ngx-spinner 
                         bdColor="rgba(51,51,51,0.8)" 
                         size="default" 
                         color="#fff"
                         type="square-jelly-box">

                <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            
            <p class="mt-16 mb-5 text-xs">¿Ya estás registrado?</p>
            <a class="mb-8" href="login">
                <Button type="button" class="w-full p-1 rounded border border-sky-500 text-black"
                    id="createAcountBtn">¡Inicia sesión aqui!</Button>
            </a>
        </div>
    </form>
    <div class="image w-[30%] px-5">
        <img src="../../../../assets/img/mockLogin.png" alt="" class="max-lg:hidden  rounded-xl">
    </div>
</section>