<div  *ngFor="let compa of company" >
    <section class="flex justify-evenly w-full md:py-10 flex-col
        lg:flex-row max-sm:h-auto">
    
    
        <div class="welcome flex flex-col items-center justify-center max-md:h-[20%]">
            <img class="size-60  object-contain h-1/6 max-sm:hidden" src="../../../../assets/img/logoAzul.png" alt="">
            <img class="size-72 lg:size-96 2xl:w-[20%]" src="../../../../assets/img/stylzd_hand_3-removebg-preview.png" alt="">  
        </div>
      
        <form action="get" class="flex items-center flex-col gap-3 px-3 md:p-4 md:shadow-lg lg:w-2/5
                max-md:h-[50%]" [formGroup]="form" (ngSubmit)="OnUpdatePerfil()">
              
            <p class="text-center w-[80%]"><span class="text-xl"> Edita tus datos, emprendedor.</span><br>¡Mantente actualizado!</p> 
           
    
                <input class="outline-none border-1 p-2 px-3 w-full" type="text" [(ngModel)]="compa.firstName"  formControlName="firstName" placeholder="Nombres ">
                <input class="outline-none border-1 p-2 px-3 w-full" type="text" [(ngModel)]="compa.lastName"  formControlName="lastName" placeholder="Apellidos ">
                <input class="outline-none border-1 p-2 px-3 w-full" type="text" [(ngModel)]="compa.description"  formControlName="description" placeholder="Descripción">
                <input class="outline-none border-1 p-2 px-3 w-full" type="text"  [(ngModel)]="compa.address"  formControlName="address" placeholder="Dirección">
                <input class="outline-none border-1 p-2 px-3 w-full" type="text" [(ngModel)]="compa.nameEmprendimiento"  formControlName="nameEmprendimiento" placeholder="Nombre del emprendimiento">
                <input class="outline-none border-1 p-2 px-3 w-full" type="text" [(ngModel)]="compa.document"  formControlName="document" placeholder="Documento">
                <!-- <input class="outline-none border-1 p-2 px-3 w-full" type="text" [(ngModel)]="compa.email"  formControlName="email" placeholder="E-mail"> -->
          
            <!-- <div class="pass w-full flex gap-3">
                <input class="outline-none border-1 p-2 px-3 w-full" type="password" name="" id="password" placeholder="Contraseña">
                <input class="outline-none border-1 p-2 px-3 w-full" type="password" name="" id="confirmPass" placeholder="Confirmar Contraseña">
            </div> -->
            <div class="confirm w-full flex flex-col items-center">
            <!-- hola -->
                <!-- <button class="bg-button-blue px-4 py-2 rounded-lg text-white text-lg w-[40%]" (click)="isdevolverPerfil()">Actualizar</button> -->
                <button class="bg-button-blue px-4 py-2 rounded-lg text-white text-lg w-[40%]">Actualizar</button>
            </div>
        </form>
    
    </section>
    </div>