<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politicas</title>
    <link rel="stylesheet" href="/src/style/politicas.css">
</head>

<body>

    <header>
        <img claSS="logo" src="/src/images/logo.png" alt="Logo">
        <nav>
            <ul class="nav_links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Políticas</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Iniciar Sesión</button></a>
    </header>
    <section>
        <div class="showcase">
            <p>POLÍTICAS & <br>
                CONDICIONES</p>
        </div>
    </section><br><br>




    <section class="text">
        <div class="sec1">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, praesentium cupiditate sed nobis quo
                id libero, quaerat architecto error laudantium nesciunt mollitia amet! Rem vero quasi, veniam laudantium
                aperiam cupiditate.
            </p><br><br>

            <h3>Tratamiento de datos personales</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit cumque aspernatur quasi
                labore expedita veniam doloremque temporibus sunt dolorum sequi autem a eveniet eaque, nobis totam
                incidunt dicta consequuntur?
                Officiis tempora quas, alias nam doloremque animi iure autem numquam aperiam asperiores quam quia
                architecto ad. Nisi ex qui eos excepturi assumenda neque commodi, deserunt mollitia expedita, ea a odio?
            </p>
        </div>
    </section>



    <section class="text2">

        <div class="sec2">
            <h3>Política uso del aplicativo web</h3><br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quod praesentium, nisi vitae excepturi
                tempore corrupti placeat perferendis. Corporis rerum magni laborum explicabo? Nemo adipisci praesentium
                vitae. Non, nulla necessitatibus!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati commodi esse sapiente necessitatibus
                voluptates illo, animi eum eos, ipsum aliquid voluptatem eligendi cumque, non ex nobis laboriosam
                numquam exercitationem quod.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatum ipsam ad unde id, quos veniam
                commodi facilis ratione corporis nobis voluptatem officiis temporibus animi mollitia saepe. In, fuga a?
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut officiis doloremque eligendi? Reiciendis
                inventore, harum illum exercitationem eligendi quis voluptas dolor laudantium ad eum ipsum aperiam. Nemo
                architecto odio quibusdam.
                Ut veniam possimus accusamus? Nemo, harum error! Quia dolorum ipsa minima, consequatur illo, cum qui
                soluta sed magnam eaque quibusdam velit accusantium quaerat nisi numquam! Velit officiis nesciunt
                excepturi cumque!</p>
            <br>
            <h5>Derechos de los Clientes con relación a sus datos personales:</h5><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error earum cupiditate perferendis? At aliquid
                aspernatur quo ipsum reprehenderit. Aspernatur nostrum molestias officia odit vero architecto ab animi
                obcaecati, eos aperiam?
                Totam, libero! Deserunt cum a delectus magnam porro, in ex et sint eaque alias quidem nobis commodi eius
                ipsum sapiente? Culpa nihil iusto aperiam deserunt soluta molestiae alias in corporis.
                Ipsa non ratione commodi dolorum voluptas assumenda. Consequatur, fugit earum itaque inventore
                praesentium facere ipsam impedit voluptatibus ullam vel velit magni nihil voluptatum corporis, possimus
                consequuntur eligendi, molestiae sapiente est?</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequatur eveniet nam fuga earum quis,
                corrupti possimus omnis quaerat maiores incidunt. Officiis sed rem aut eligendi unde possimus obcaecati
                autem?
                Nemo excepturi iusto architecto assumenda quibusdam laboriosam qui, odio porro praesentium! Error dolor
                nam, quaerat laudantium, odit velit delectus aut mollitia nisi blanditiis nostrum, possimus atque quam
                architecto amet ex.
                Mollitia ut vitae id eaque, fuga dignissimos debitis sequi odio nulla ipsam nesciunt nemo nihil
                cupiditate vero laudantium eum. Labore quo, voluptas natus quasi explicabo dicta deserunt aliquam
                laborum rem!</p><br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, dolores alias minima obcaecati
                ad quae, maxime id quia nemo ex consequatur nesciunt, sint mollitia explicabo assumenda voluptatem eius
                harum illum.
                Architecto odio maxime numquam est dolores nobis voluptates delectus at ex aliquid modi facilis
                consequatur, accusantium quae fugiat saepe, vel, dolorum tempore neque rem quo suscipit beatae! Nihil,
                minima omnis.</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia porro deserunt fuga adipisci quibusdam
                provident nobis dignissimos reiciendis omnis cumque ex quasi consequuntur velit eveniet cum dolorum
                quaerat, architecto nulla.
                Magnam aperiam mollitia minus! Voluptate illo omnis autem quaerat, possimus nobis voluptatem quasi
                aperiam minima pariatur! Veniam cumque nam et, iste quibusdam perspiciatis sed. Possimus veniam
                inventore officiis exercitationem eligendi?</p><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quaerat expedita error quidem neque esse
                fuga enim dicta aperiam, aspernatur iure provident, mollitia sapiente, perspiciatis quam eius? Quas,
                molestias saepe!
                Quaerat nam possimus sed modi provident dignissimos, quam quae atque sit, ipsum veritatis necessitatibus
                accusantium. Eaque ut laudantium sed, magni similique eveniet ducimus iusto reiciendis alias distinctio,
                quibusdam sapiente aut?</p><br>
            <h5>Modificaciones a las condiciones de uso:</h5><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi hic maiores id cupiditate at, dolores
                dignissimos impedit corporis nulla repellat accusamus, voluptates aliquid architecto vitae minus facilis
                mollitia, reprehenderit blanditiis.
                Nisi delectus animi obcaecati architecto autem iste aut qui voluptate repudiandae itaque vero odit,
                veniam ex esse repellat neque officiis. Quia repellendus ratione alias, dolorum quae voluptas sint
                doloribus dolorem.</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quibusdam voluptatem facere repellendus
                aliquam, excepturi fugiat repellat fuga et illum magni unde quia corrupti necessitatibus architecto
                praesentium itaque accusantium ab!</p>


        </div>

    </section>

    <section class="text3">

        <div class="sec3">

            <h3>Condiciones de Uso</h3><br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit exercitationem necessitatibus molestias
                repellat repudiandae pariatur modi dignissimos qui quisquam reprehenderit fuga alias officiis,
                voluptatem molestiae. Enim atque nam cumque iure?</p><br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut dolores inventore recusandae deserunt
                delectus itaque, numquam error quas sed, placeat ducimus, perspiciatis praesentium eius impedit labore
                rem nostrum sapiente minima!
                Tempora dignissimos sit delectus dolore unde ab obcaecati eaque hic neque, iste eum voluptas iusto,
                architecto aspernatur voluptatum doloremque eveniet quod quo nisi quos tenetur. Vero doloremque tenetur
                accusantium eum!</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aspernatur similique adipisci
                consequatur incidunt aliquam autem ipsam repudiandae quis eligendi vero, cupiditate repellendus a, animi
                nesciunt magnam, numquam molestias beatae?
                Illo, rem nobis sapiente atque recusandae eligendi. Quaerat quam nihil, suscipit possimus non commodi,
                totam modi, magni aliquid dolorem quia. Labore, dolore? Odio fugit voluptate corrupti quos laborum cum
                repellendus.</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dignissimos veritatis veniam eligendi
                numquam deserunt esse, quam fugiat eveniet laborum ullam, excepturi delectus! Mollitia similique
                aspernatur obcaecati praesentium iure doloremque.</p>
        </div>
    </section>

   

    <section class="footer">
        <div class="footercont">
            <footer>

                <h4 class="h4">Medios de pago</h4><br>
                <img class="pagos" src="/src/images/pagos.jpg" alt="pagos"><br><br>

            </footer>

        </div><br><br><br>
        <p class="box_pie">Todos los derechos reservados &copy; 2022</p><br>
    </section>





</body>

</html>