<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../common/head'); %>
        <link rel="stylesheet" href="/public/styles/politicas.css">
</head>

<body>

    <header>
        <header>
            <%- include('../common/header'); %>
        </header>
    </header>
    <section>
        <div class="showcase">
            <p>POLÍTICAS & <br>
                CONDICIONES</p>
        </div>
    </section><br><br>
    <section class="text">
        <div class="sec1">
            <p>
                Para EyeSure es muy importante mantener la privacidad de la informacion personal del usuario obtenida a
                traves de la aplicacion web.
            </p><br><br>

            <h3>Tratamiento de datos personales</h3><br>
            <p>Dando cumplimiento a la Ley 1581 del 17 de octubre de 2012, igualmente reglamentada por los decretos 1377
                de 2013 y 886 de 2014, EyeSure implemento la presente política para el tratamiento de datos personales
                por medio de la cual se dan a conocer los mecanismos que pretenden garantizar el buen uso de los mismos
                y proteger los derechos que tienen todas las personas que se encuentran vinculadas laboral o
                comercialmente a la compañía a conocer, actualizar y rectificar las informaciones que se hayan recogido
                sobre ellas en bases de datos o archivos.
            </p>
        </div>
    </section>



    <section class="text2">

        <div class="sec2">
            <h3>Política uso del aplicativo web</h3><br>
            <p>reconoce que el ingreso de información personal, lo realiza de manera voluntaria y ante la solicitud de
                requerimientos específicos por EyeSure para realizar un trámite, presentar una queja o reclamo, o para
                acceder a los mecanismos interactivos.</p>
            <br>
            <p>acepta que, a través del registro en el Sitio Web, EyeSure recoge datos personales, los cuales no se
                ceden a terceros sin su conocimiento..</p>
            <br>
            <br>
            <h5>Derechos de los Clientes con relación a sus datos personales:</h5><br>
            <p>Al cliente se le reconocen los derechos de acceso, rectificación, cancelación y oposición al tratamiento
                de datos personales.
                Uso de Cookies y del fichero de actividad. Monitorización de la página Web.</p><br>

            <p>La información que genera la cookie acerca del uso de la página Web por parte del cliente (incluyendo su
                dirección IP) será directamente transmitida y archivada por nuestros servidores.</p><br>

            <p>La información personal proporcionada por el Usuario está asegurada por una clave de acceso que sólo él
                conoce. Por tanto, es el único responsable de mantener en secreto su clave.</p><br>

            <br>
           
        </div>

    </section>

    <section class="text3">

        <div class="sec3">

            <h3>Condiciones de Uso</h3><br>
            <p>Por medio del Sitio Web, EyeSure pública los temas y actividades que tienen que ver
                con su misión, su visión, objetivos y las funciones que le corresponden</p><br>

            <p>por este medio la entidad da a conocer información sobre Políticas, programas y proyectos
                institucionales, Trámites, Servicios, Publicaciones, Normas, Información presupuestal y de contratación;
                páginas recomendadas, etc,.</p><br>

            <p>EyeSure solicita al Usuario de esta página, que lea detalladamente estas condiciones de
                uso y la política de privacidad de este Sitio Web, antes de iniciar su exploración o utilización.</p>
            <br>

            <p>Si el Usuario no está de acuerdo con estas Condiciones de Uso o con cualquier disposición de la Política
                de Privacidad, le sugerimos que se abstenga de acceder o navegar por el Sitio Web de nuestra entidad.</p>
        </div>
    </section>



    <footer>
        <%- include('../common/footer'); %>
    </footer>





</body>

</html>