<div class="relative w-full h-full">
    <div class="relative flex justify-center items-center w-full h-full">
        <img [class]="rounded" [src]="imgSrc" alt="">
        <div *ngIf="(imgSrc==srcPreload)" class="absolute">
            <div class="loader"></div>
        </div>
    </div>
    <!-- <div class="absolute top-0 circle flex justify-center items-center size-40">
        <div class="h-full w-full">
            <img class="w-full h-full" src="../../../assets/img/photo_wrapper.png" alt="">
        </div>
    </div> -->
</div>