<div class="mt-20 flex justify-center items-center">
    <div *ngIf="product" class="grid place-items-start pb-5">
        <section class="flex h-100 pb-5">
            <!-- Tarjeta -->
            <div class="card w-full md:max-w-4xl flex flex-row items-center p-4 rounded-lg shadow-lg">
                <!-- Imagen -->
                <div class="md:w-1/2 flex justify-center items-center mb-4 md:mb-0">
                    <div class="cursor-pointer justify-center items-center flex flex-row" onclick="document.getElementById('file').click()">
                        <img src="ruta/a/la/imagen.png" alt="" class="custom-button">
                        <!-- Input de tipo file oculto para la funcionalidad -->
                        <input type="file" id="file" (change)="onFileSelected($event)" formControlName="image" style="display: none;">
                        <div class="py-[5%] px-[10%] cursor-pointer justify-center items-center flex flex-row">
                            <div class="div" style="display: flex; justify-content: center; align-items: center; height: 200px; width: 100%;" *ngIf="product.image; else previsualizacion">
                                <img [src]="product.image" alt="" style="width: 100%; max-height: 100%;">
                            </div>
                            <ng-template #previsualizacion class="div" style="display: flex; justify-content: center; align-items: center; height: 200px; width: 80%;">
                                <img [src]="previsualizacion" alt="" style="max-width: 100%; max-height: 100%;">
                            </ng-template>
                        </div>
                    </div>
                </div>
                <!-- Información -->
                <div class="w-full md:w-1/2">
                    <h1 class="text-xl font-bold mb-3">Editar Producto</h1>
                    <form action="http://localhost:3000/api/product/create" class="flex flex-col w-full" [formGroup]="form" enctype="multipart/form-data">
                        <div class="flex flex-wrap">
                            <div class="w-full md:w-1/3">
                                <label class="text-lg" for="title">Título</label>
                                <input [(ngModel)]="product.name" id="title" formControlName="name" class="border-2 mb-2 p-3 outline-none rounded w-full" placeholder="Título" type="text">
                            </div>
                            <div class="w-full md:w-1/3">
                                <label class="text-lg" for="price">Precio</label>
                                <input [(ngModel)]="product.price" id="price" formControlName="price" class="border-2 mb-2 p-3 outline-none rounded w-full" placeholder="Precio" type="number">
                            </div>
                            <div class="w-full md:w-1/3">
                                <label class="text-lg" for="price">Cantidad</label>
                                <input [(ngModel)]="product.stock" id="price" formControlName="stock" class="border-2 mb-2 p-3 outline-none rounded w-full" placeholder="Cantidad disponible" type="text">
                            </div>
                        </div>
                        <div class="flex flex-wrap">
                            <div class="w-full md:w-1/3">
                                <label class="text-lg" for="title">Categoría</label>
                                <select [(ngModel)]="product.category" id="title" formControlName="category" class="border-2 mb-2 p-3 outline-none rounded w-full" placeholder="Estado...">
                                    <option value="">Seleccionar</option>
                                    <option value="tecnologia">Tecnologia</option>
                                    <option value="muebles">Mueble</option>
                                    <option value="mascotas">Mascotas</option>
                                    <option value="Salud y Belleza">Salud y Belleza</option>
                                    <option value="comida">Comida</option>
                                    <option value="arte">Arte</option>
                                    <option value="deporte">Deporte</option>
                                </select>
                            </div>
                            <div class="w-full md:w-2/3"> <!-- Cambié md:w-1/3 por md:w-2/3 -->
                                <label class="text-lg" for="description">Descripción</label>
                                <input [(ngModel)]="product.description" id="description" formControlName="description" class="border-2 mb-2 p-3 outline-none rounded w-full" placeholder="Describe el producto..." type="text">
                            </div>
                        </div>
                        <button type="submit" (click)="onUpdatePorduct()" (click)="openSpinner()" class="border-2 pb-2 px-4 py-2 shadow-sm rounded">Actualizar</button>
                    </form>
                    <!-- Spinner -->
                    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="default" color="#fff" type="square-jelly-box">
                        <p style="font-size: 20px; color: white">Loading...</p>
                    </ngx-spinner>
                </div>
            </div>
        </section>
    </div>
</div>
