<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/head'); %>
</head>

<body>
  <main>
    <header>
        <%- include('../common/header'); %>
    </header>
    <div class="scrol">
    </div>
    <script src="menu.js"></script>

    <section class="conte_sub">
      <img id="cel" src="../../public/images/celular.png" alt="mockup">
      <h2 class="p-sub">
        Software de asistencia para <br>
        registro y control<br>
        a través  de biometría facial.
      </h2>
      <p>
        Modernice las entradas y salidas de su empresa o unidad.<br>
        Agiliza el flujo de personas, <br>
        evitando congestion controlado por APP.
      </p>
    </section>
    <div class="clear1"></div>


    <section class="conte_bene2">
      <div>
        <img class="icono" src="../../public//images/rapido.png" alt="proceso-rapido">
        <h4>Un proceso más rápido</h4>
        <p>El sistema permite una verificación<br>
          de identidad a distancia<br>
          rápida, fácil y sin dificultades.</p>
      </div>
      <div>
        <img class="icono" src="../../public//images/precio-bajo.png" alt="reducir">
        <h4>Reduce costos</h4>
        <p>Minimiza trabajo redundante,<br>
          automatiza tareas, economiza recursos.</p>
      </div>
      <div>
        <img class="icono" src="../../public//images/seguridad.png" alt="seguridad">
        <h4>Seguridad</h4>
        <p>Acceso utilizando biometría,<br>
          100% seguro que no haya<br>
          suplantación de identidad.</p>
      </div>
      <div>
        <img class="icono" src="../../public//images/facil-uso.png" alt="facil">
        <h4>Simple y fácil de usar</h4>
        <p>Su interfaz permite una rápida puesta<br>
          en marcha.</p>
      </div>
    </section>
    <div class="clear2"></div>

    <section class="conte_suscri">
      <h3>Suscribete para más información</h3>
      <label for="email"></label>
      <input class="controls" type="email" id="email" placeholder="Ingrese su correo"><br>
      <input class="botons" type="submit" value="Enviar">
    </section>
    <div class="clear"></div>

    <footer>
      <%- include('../common/footer'); %>
    </footer>
  </main>
</body>
</html>