<section class="flex h-full max-sm:p-5 lg:pl-2 xl:pt-20">
    <!-- formulario -->
    <div class="form w-full md:w-[33%] max-md:w-full flex flex-col  items-center py-3">
        <h1 class="">Artículo en venta</h1>
        <input id="file" accept="image/*" type="file" class="hidden">

        <a class="border-3 py-20 px-[38%] cursor-pointer justify-center items-center flex flex-col"
            onclick="document.getElementById('file').click">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <p class="text-center">Subir imágenes</p>
        </a>

        <form action="" class="flex flex-col w-full p-4">
            <label class="text-lg" for="title">Título</label>
            <input id="title" class="border-3 w-full p-2 outline-none rounded" placeholder="Título" type="text">
            <label class="text-lg" for="price">Precio</label>
            <input id="price" class="border-3 w-full p-2 outline-none rounded" placeholder="Precio" type="text">
            <label class="text-lg" for="category">Categoría</label>
            <select name="category" id="category" class="border-3 p-2 w-full outline-none rounded">
                <option value="">Seleccionar</option>
                <option value="">Tecnología</option>
                <option value="">Muebles</option>
            </select>
            <label class="text-lg" for="producName">Descripción</label>
            <input id="producName" class="border-3 w-full p-2 outline-none rounded" placeholder="Más acerca del producto"
                type="text">
        </form>
        <button class="border-2 px-4 py-2 shadow-sm bg-blue-500 text-white rounded">Agregar producto</button>
    </div>

    <!-- Vista previa -->
    <div class="preview max-2xl:h-[70%] w-[60%] border-l max-lg:hidden p-8 flex flex-row justify-center">
     
            <a href="" class="border-3 py-[5%] px-[25%] cursor-pointer justify-center items-center flex flex-col h-[65%] w-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-20 h-20">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
            </a>
   
        <div class="desc py-10 px-5 w-full border h-full flex flex-col">
            <p class="text-3xl font-bold">Titulo</p>
            <p class="text-xl">Precio: 32.000</p>
            <div class=" w-full h-full lg:w-full xl:h-[50%] pt-5"> <p class="font-bold text-xl">Detalles</p>
                <p>La descripción aparecerá acá <br> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Perspiciatis maiores quia, ipsa voluptatem, unde aliquam hic ea ipsam laudantium delectus dolore
                    autem? Non minima perferendis voluptatibus, at iure amet architecto</p>
            </div>
            <button class="border-2 px-4 py-2 shadow-sm">Comprar</button>
        </div>


    </div>

</section>