<div class="bg-slate-50 grid grid-cols-4 gap-4 h-12 w-full md:hidden">
    <a class="flex items-center" href="">
        <div class="flex justify-center" >
            <img src="../../../assets/icons/house-fill-svgrepo-com.svg" alt="">
        </div>
    </a>
    <a class="flex items-center" href="">
        <div class="flex justify-center">
            <img src="../../../assets/icons/boxes-svgrepo-com (1).svg" alt="">
        </div>
    </a>
    <a class="flex items-center" href="">
        <div class="flex justify-center">
            <img src="../../../assets/icons/shopping-cart-svgrepo-com.svg" alt="">
        </div>
    </a>
    <a class="flex items-center" href="login">
        <div class="flex justify-center">
            <img src="../../../assets/icons/user-circle-dark.svg" alt="">
        </div>
    </a> 
</div>