<div class="mt-8 overflow-x-auto" >
    <div class="shadow sm:rounded-lg">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th
                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                        Nombre</th>
                    <th
                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                        Descripción</th>
                    <th
                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                        Categoría</th>
                    <th
                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50">
                        Precio</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                </tr>
            </thead>
            <tbody>
                <tr  class="bg-white">
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div *ngFor="let client of clients" class="flex items-center">
                            <div class="flex-shrink-0 w-10 h-10">
                                <img [src]="client.profile_image" class="w-10 h-10 rounded-full">
                            </div>
                            <div class="ml-4">
                                <div class="text-sm font-medium leading-5 text-gray-900">{{client.firstName}}</div>
                                <div class="text-sm leading-5 text-gray-500">{{client.document}}</div>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div class="text-sm leading-5 text-gray-900"></div>
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <span
                            class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full"></span>
                    </td>
                    <td
                        class="px-6 py-4 text-sm leading-5 text-gray-500 whitespace-no-wrap border-b border-gray-200">
                        </td>
                    <td
                        class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200">
                        <div class="mt-4">
                            <a
                                class="mr-4 text-indigo-600 hover:text-indigo-900 cursor-pointer">Editar</a>
                            <a 
                                class="text-indigo-600 hover:text-indigo-900 cursor-pointer">Eliminar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>