<div><img class="img1" src="../../public/images/facebook.png" alt="red1"></div>
<div><img class="img2" src="../../public/images/whatsapp.png" alt="red2"></div>
<div><img class="img3" src="../../public/images/instagram.png" alt="red3"></div>
<div><img class="img3" src="../../public/images/correo.png" alt="red4"></div>
<div class="clear3"></div>
<div>
  <ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Whatsapp</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Correo</a></li>
  </ul>
</div>
<div><p class="box_pie">EyeSure &copy; 2022 Todos los derechos reservados</p><br></div>