<nav class="nav">
  <img claSS="logo" src="../../public/images/logo.png" alt="Logo">
  <ul class="menu">
    <li><a href="/">Inicio</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/politicas">Políticas</a></li>
    <li><a href="/contact">Contacto</a></li>
    <li><a href="/registro">Registro</a></li>
    <li><a href="/login"><button>Iniciar Sesión</button></a></li>
  </ul>
</nav>
<script>
  const nav = document.querySelector('.nav');

  window.addEventListener('scroll', function () {
    nav.classList.toggle('active', window.scrollY > 0)
  })
</script>