<div id="body">
    <form *ngIf="!(isValidAccount() | async)" class="w-full flex flex-col items-center" [formGroup]="formAccount" (ngSubmit)="submitAccount()">
        <img src="../assets/icons/favicon-32x32.png" alt="">
        <h1 class="my-20">Iniciar Sesión</h1>
        <div class=" w-full">
            <p class="m-1">E-mail o celular</p>
            <input
             class="w-full h-2/4 border border-sky-500 rounded mb-4" 
             type="email"
             formControlName="email"
             >
        </div>
        <button type="submit" class="bg-button-blue w-full p-1 rounded text-white">Continuar</button>
        <p class="mt-16 mb-5 text-xs">¿Nuevo en Mitiendapp?</p>
        <a href="signin">
            <Button type="button" class="w-full p-1 rounded border border-sky-500 text-black" id="createAcountBtn">Crea tu cuenta de mitiendapp</Button>
        </a>
    </form>
    <form *ngIf="(isValidAccount() | async)" class="w-full flex flex-col items-center" [formGroup]="formPassword" (ngSubmit)="submitPassword()">
        <img src="../assets/icons/favicon-32x32.png" alt="">
        <h1 class="my-20">Iniciar Sesión</h1>
        <div class=" w-full">
            <p class="m-1">Contraseña</p>
            <input
             class="w-full h-2/4 border border-sky-500 rounded mb-4" 
             type="email"
             formControlName="password"
             >
        </div>
        <button type="submit" class="bg-button-blue w-full p-1 rounded text-white">Continuar</button>
        <p class="mt-16 mb-5 text-xs">¿Nuevo en Mitiendapp?</p>
        <a href="signin">
            <Button type="button" class="w-full p-1 rounded border border-sky-500 text-black" id="createAcountBtn">Crea tu cuenta de mitiendapp</Button>
        </a>
    </form>
</div>