<!-- <app-productos></app-productos> -->
<!-- <app-nav></app-nav> -->

<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link real="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="/style.css">

<html>
<body>
    <div class="container" id="main">

        <div class="sign-up">
            <form [formGroup]='form' (ngSubmit)="onSubmitR()">
                <h1>Registro</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
               
                <input type="email" formControlName="email" placeholder="Correo" required="" email="true">
                <input type="password" formControlName="password" placeholder="contraseña" required="">
                <input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña" required="">
                <button *ngIf="!loading" type="submit">Registrar</button>
                <app-spinner *ngIf="loading"></app-spinner>
            </form>
        </div>
        
        <div *ngIf="!loading" class="sign-in">
            <form [formGroup]='form2' (ngSubmit)="onSubmitL()">
                <h1>Ingresar</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                
                <input type="email" formControlName="email" placeholder="Correo" required="" email="true">
                <input type="password" formControlName="password" placeholder="contraseña" required="">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button>INGRESAR</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-left">
                    <h1>¿Ya tienes una cuenta? </h1>
                    <p> Te invitamos a registrarte y que conozcas mas de nosotros.</p>
                    <button id="signIn">¡Ya tengo Cuenta!</button>
                </div>
                <div class="overlay-right">
                    <h1>Bienvenido<br> a mitiendapp </h1>
                    <p>Nos alegra tenerte nuevamente con nosotros.</p>
                    <button id="signUp">No tengo una cuenta</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<!-- <app-footer></app-footer> -->
