<!-- <app-productos></app-productos> -->
<!-- <app-nav></app-nav> -->

<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<link real="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="/style.css">

<html>
<body>
    <div class="container" id="main">

        <div class="sign-up">
            <form [formGroup]='form' (ngSubmit)="onSubmitR()">
                <h1>create account</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <p> Registrate</p>
                <input type="text" formControlName="name" placeholder="Nombre Completo" required="">
                <input type="email" formControlName="email" placeholder="Correo" required="">
                <input type="number" formControlName="number" placeholder="celular" required="">
                <input type="text" formControlName="adress" placeholder="dirección" required="">
                <input type="password" formControlName="password" placeholder="contraseña" required="">
                <button type="submit">Registrar</button>
            </form>
        </div>
        
        <div class="sign-in">
            <form [formGroup]='form2' (ngSubmit)="onSubmitL()">
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <p> Login</p>
                <input type="email" formControlName="email" placeholder="Correo" required="">
                <input type="password" formControlName="password" placeholder="contraseña" required="">
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button>Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-left">
                    <h1>Wellcome Back!</h1>
                    <p> to keep connected with us please width your personal info</p>
                    <button id="signIn">Sign In</button>
                </div>
                <div class="overlay-right">
                    <h1>Hello Friend</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button id="signUp">Sign up</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<!-- <app-footer></app-footer> -->
