.description{
    visibility: hidden;
}
.img-wrapper:hover .nameE{
    filter: brightness(.5);
    visibility: hidden;
}
.img-wrapper:hover .imageContainer, .img-wrapper:hover .nameWrapper{
    transition: all .1s ease-in-out;
    transform: scale(1.2);
    border-radius: 8px;
}
.img-wrapper:hover .nameWrapper{
    filter: brightness(.5);
    transition: all .1s ease-in-out;
    opacity: 0;
}
.img-wrapper:hover .description{
    filter: brightness(200%);
    transition: all .2s ease-in-out;
    visibility: visible;
}
.img-wrapper:hover .imageContainer .image{
    filter: brightness(.5);
}
.img-wrapper:hover .imageContainer .imgg{
    filter: brightness(.5);
}
.img-wrapper:hover:hover > *{
    z-index: 50;
}