@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,900&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}

body{

  font-family: 'Roboto', sans-serif;
  background-color: #e5e5f7;
   background-image: radial-gradient(#1966ff 0.45px, #e5e5f7 0.45px);
  background-size: 9px 9px;
  background-position: 0 0, 10px 10px;
  display: flex;
  min-height: 100vh; 
  
}




.form{
  
  background-color: #fff;
  margin: 120px auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);


}  


.form_title{

 font-size: 2rem;
 margin-bottom: .5em ;
}

.form_paragraph{

   font-weight: 300;
}

.form_link{

  font-weight: 400;
  color: #000;
}



.form_container{

  margin-top: 3em;
  display: grid;
  gap: 2.5em;


}

.form_group {

  position:relative;
 --color: #b6b6b6;
}

.form_input{

  width: 100%;
  background: none;
  color: #2c2c38;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: 'roboto', sans-serif;

}

.form_input:focus,
  .form_input:not(:placeholder-shown) {
   color: #292929 ;
  }

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
 transform: translateY(-12px) scale( .7);
 transform-origin: left top;
 color: #3d434f; 
  }



.form_label{

color: var(--color);
cursor: pointer;
position: absolute;
top: 0;
left: 5px;
transform: translateY(10px);
transition: transform .5s, color .3s;


}

.form_submit{

  background: #1966ff;
  color: #fff;
  font-family: 'roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em;

} 

.form_line{

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #0400ff;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s;
}

.form_input:focus ~ .form_line,
  .form_input:not(:placeholder-shown) ~ .form_line {
transform: scale(1);
  }