@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Montserrat&display=swap');
/* fixed estatico con la pantalla */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    position: relative;
    width: 100%;

}
body{
    min-height: 100%;
}


button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

img{
    width: 150px ;
    
}

.conte_subtitu{
    padding: 80px 0 80px 0;
    font-size: 20px;
    font-weight: bold;
    background-size: cover;
    
}


.conte_info{
    padding: 20px 0 20px 0;
    font-size: 15px;
}

.conte_bene{
    padding: 20px 0 20px 0;
    font-size: 15px;
}

.conte_suscri{
    padding: 40px 0 40px 0;
    font-size: 20px;
}

input{
    padding: 5px 30px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif; ;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px;
    border: none;
}

.botons{
    border-radius: 10px;
    padding: 4px 30px;
    box-shadow: 2px 2px 8px;
    background-color: rgba(0,136,169,1)
    
}

.botons:hover{
    color: white;
    background-color: black;
}



/*Parte Login*/


.contenedor1{
    position:relative;
    margin: 20px auto; 
    background: #f2f2f296;
    box-shadow: 0 0 20px #bca1b6;
    padding: 50px 10px;
    margin-top: 0%;
    border-radius: 20px;
    margin-bottom: 10%;
    width: 30%;
}


p{
    text-align: center;
    padding-top: 9%;
}

.input-contenedor{
    position: relative;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 50px;
    padding: 0px 30px;
    
}

.input-contenedor2{
    position: relative;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 50px;
    padding: 0px 30px;
    margin-bottom: 5%;
}
.form-control{
    position: relative;
    padding: 10px 50px;
    
    
}

.parte2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -10px;
    background-color: rgb(41, 171, 226);
    box-shadow: 2px 2px 5px #000 ;
    
}

.parte2:hover{
    background-color: #000;
    color: rgb(41, 171, 226);
}

/*menu*/

.login{
    padding-bottom: 1%;
}

footer{
    padding-right:0%;
}