@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Montserrat&display=swap');

/* fixed estatico con la pantalla */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

img{
    width: 150px ;
    
}

.conte_subtitu{
    padding: 80px 0 80px 0;
    font-size: 20px;
    font-weight: bold;
    background-size: cover;
    
}


.conte_info{
    padding: 20px 0 20px 0;
    font-size: 15px;
}

.conte_bene{
    padding: 20px 0 20px 0;
    font-size: 15px;
}
/*
h4{
    font-size: 25px;
}
*/
.conte_suscri{
    padding: 40px 0 40px 0;
    font-size: 20px;
}

input{
    padding: 5px 30px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif; ;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px;
    border: none;
}

.botons{
    border-radius: 10px;
    padding: 4px 30px;
    box-shadow: 2px 2px 8px;
    background-color: rgba(0,136,169,1)
    
}

.botons:hover{
    color: white;
    background-color: black;
}



/*Parte Login*/


.contenedor{
    margin-top: 20rem;
    background: #F2F2F2;
    box-shadow: 0 0 20px #bca1b6;
    padding: 50px 0px;
    margin: 0px 500px;
    border-radius: 20px;
    position: relative;
}

h1{
    position: relative;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 3%;
    color: antiquewhite;
    
}

p{
    text-align: center;
}

.input-contenedor{
    position: relative;
    width: 80%;
    margin-bottom: 1%;
    padding: 0px 30px;
}

.input-contenedor2{
    position: relative;
    width: 80%;
    padding: 0px 9%;
    margin-bottom: 1%;
}
.form-control{
    position: relative;
    padding: 10px 50px;
    
    
}

.parte2{
    position: relative;
    background-color: rgba(0,136,169,1);
    
    margin-left: 10px;

}