<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <header>
                    <img class="logo" src="/proyecto/src/images/nosotros/logo.png" width="25%" />
                    <nav>
    
                        <ul class="nav_links">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/interfaz-nosotros">Nosotros</a></li>
                            <li><a href="/interfaz-politicas">Políticas</a></li>
                            <li><a href="/interfaz-contacto">Contacto</a></li>
                            <li><a href="/interfaz-registro">Registro</a></li>
    
                        </ul>
                    </nav>
                    <a class="cta" href="/interfaz-login"><button>Iniciar Sesión</button></a>
                </header>
    
            </div>
            </div>
        </nav>

    <section class="nosotros">
        <h2>Origen de eyesure</h2>

        <p>La idea de crear eyesure surgió luego de identificar que en nuestro centro de formación  no se establecía un registro de cada persona que ingresaba al establecimiento y eso vulneraba la seguridad ya que no se podía constatar si cada persona que ingresaba si pertenecía realmente al centro de formación o si realmente iría a hacer las labores por las que fue, por lo tanto con este aplicativo móvil se lograría tener un control de cada visitante y así tener una verificación facial y sus datos personales en caso de requerir la identificación de alguien para posteriormente investigarlo. <br><br>Este proyecto no va a ser propio para el centro de formación sino, que va a ser adaptable a cualquier entidad que lo necesite, como pueden ser: entidades gubernamentales, empresas, conjuntos residenciales, gimnasios, bancos y cualquier establecimiento de alta aglomeración que así lo requiera.</p><br>
        
        <p id="grupo">Somos Estudiantes del Sena de comercio y turismo de Armenia Quindío y nuestro equipo se conforma por:
        </p>
    </section>

    <section>
    <table class="nombres">
        <tr>
            <th>leonardo </th>
            <th>Santiago Osorio</th>
            <th>ximena Facundo</th>
            <th>Ana Martínez </th>
            <th>Jhon Jairo Giraldo</th>
            <th>Marlon Stick</th>
        </tr>
        <tr>
            <td> <img src="/proyecto/src/images/nosotros/foto01.jpg"> </td>
            <td> <img src="/proyecto/src/images/nosotros/foto01.jpg"> </td>
            <td> <img src="/proyecto/src/images/nosotros/foto01.jpg"></td>
            <td> <img src="/proyecto/src/images/nosotros/foto01.jpg"> </td>
            <td> <img src="/proyecto/src/images/nosotros/foto01.jpg"> </td>
            <td> <img src="/proyecto/src/images/nosotros/foto01.jpg"> </td>
        </tr>
    </table>
    </section>

<footer>
    <div class="footer">
        
        <div class="posicion">
            <div class="redes"> 
                <h3>Siguenos en redes sociales</h3>
                <a href="#"><img src="/proyecto/src/images/nosotros/facebook3.png" alt="facebook" title="facebook"></a>
                <a href="#"><img src="/proyecto/src/images/nosotros/instagram.png" alt="instagram" title="instagram"></a>
                <a href="#"><img src="/proyecto/src/images/nosotros/telegram.png" alt="telegram" title="telegram" ></a>
                <a href="#"><img src="/proyecto/src/images/nosotros/twitter1.png" alt="twitter" title="twitter"></a>
            </div>

            <div class="soluciones">
            
                <h3>Soluciones</h3>
                <a href="#">Bancos</a>
                <a href="#">Conjuntos Residenciales</a>
                <a href="#">Gimnasios</a>
                <a href="#">Empresas</a>
                <a href="#">Entidades Gubernamentales</a>
                
            </div>

            <div class="contacto">
                <h3>Contáctenos</h3>
                <a href="#"> <img src="/proyecto/src/images/nosotros/correo.png" alt="correo" title="correo"></a>
                <a href="#"> <img src="/proyecto/src/images/nosotros/whatsapp.png" alt="whatsapp" title="Whatsapp"></a>
            </div>
    
        </div>

        

        <div class="mediosPago">
            
                <h3>Medios de pago</h3>

            <div class="pago">

                <img src="/proyecto/src/images/nosotros/pse.png" alt="pse" title="PSE">

                <img src="/proyecto/src/images/nosotros/davivienda.png" alt="davivienda" title="davivienda">

                <img src="/proyecto/src/images/nosotros/bancolombia.jpg" alt="bancolombia" title="bancolombia">

               <img src="/proyecto/src/images/nosotros/Visa.jpg" alt="visa" title="visa" class="banco">

                <img src="/proyecto/src/images/nosotros/nequi2.jpg" alt="nequi" title="nequi">

                <img src="/proyecto/src/images/nosotros/caja.png" alt="" title="caja social" title="Caja Social" class="banco">

            </div>
        </div>
    

        <div class="derechosA">
            <p id="copy">&copy copyright 2022 EyeSure, Todos los derechos reservados -Armenia-Colombia</p>
        </div>
    
    </div>

    </footer>

    </main>

</body>
</html>