<div class="flex flex-row h-full z-40">
    <div class=" productCart-wrapper flex flex-col overflow-scroll w-4/5 m-5 p-2 bg-[#e5e5e5] rounded">
        <article class="productCart shadow w-full bg-white my-1 p-2 rounded"
            *ngFor="let product of myCart$ | async">
            <app-producto-carrito [product]="product"></app-producto-carrito>
        </article>
    </div>
    <div class="cartTotal w-1/4 m-2 h-full flex flex-col items-center justify-center">
        <p class="cartTotal-total">Total: </p>
        <p>$ {{totalCart()}}</p>
        <button  class="btn btn-primary" (click)="createOrder()">Pagar</button>
    </div>

</div>