<div *ngIf="isMainActive() | async" id="body" class="flex flex-col items-center justify-center h-screen">
        <img class="w-1/2 md:w-2/5 lg:w-1/4" src="../../../assets/icons/android-chrome-192x192.png" alt="">
        <h1 class="my-8 text-center text-lg md:text-xl lg:text-2xl">Para crear tu cuenta te pediremos algunos datos</h1>
        <p class="m-1 text-sm md:text-base lg:text-lg">Solo tomará unos minutos</p>
        <button (click)="registerUser()" type="submit" class="bg-button-blue w-full md:w-2/5 lg:w-1/4 h-12 p-1 rounded text-white my-3">Crear cuenta personal</button>
        <button (click)="registerNegocio()" type="submit" class="bg-button-purple w-full md:w-2/5 lg:w-1/4 h-12 p-1 rounded text-white my-3">Inscribir emprendimiento</button>
      </div>
      
      <app-registro-usuario *ngIf="isUserRegister() | async"></app-registro-usuario>
      <app-registro-negocio *ngIf="isNegocioRegister() | async"></app-registro-negocio>
