<div *ngIf="isMainActive() | async" id="body">
        <img class="w-2/5" src="../../../assets/icons/android-chrome-192x192.png" alt="">
        <h1 class="my-20 text-center">Para crear tu cuenta te pediremos algunos datos</h1>
        <p class="m-1">Solo tomará unos minutos</p>
        <button (click)="registerUser()" type="submit" class="bg-button-blue w-full h-12 p-1 rounded text-white my-3">Crear cuenta personal</button>
        <button (click)="registerNegocio()" type="submit" class="bg-button-purple w-full h-12 p-1 rounded text-white my-3">Inscribir emprendimiento</button>
</div>
<app-registro-usuario *ngIf="isUserRegister() | async"></app-registro-usuario>
<app-registro-negocio *ngIf="isNegocioRegister() | async" ></app-registro-negocio>