<div class="container-fluid">
  <div class="row">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 light ">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-80 ">
             
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-30" id="menu">
                  <li class="nav-item ">
                      <a href="../home/home.component.html" class="nav-link align-middle px-0 ">
                          <i class="fs-4 bi-house"></i> <span class="ms-2 d-none d-sm-inline ">Inicio</span>
                      </a>
                  </li>

                  <li>
                      <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                         <span class="ms-1 d-none d-sm-inline">Categorias</span> </a>
                          <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                          <li class="w-30">
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Electrodomesticos</span></a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Muebles</span></a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Deportes</span></a>
                          </li>
                          <li>
                              <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Gaming</span></a>
                          </li>
                      </ul>
                  </li>
            
              </ul>
              <hr>

          </div>
      </div>

  </div>
</div>