<section class="body d-flex ">
    <div class="left">
        <img src="https://pngimg.com/uploads/iphone_14/small/iphone_14_PNG6.png" alt="">
    </div>
    <div class="right">
        
        <P class="nombre"> Iphone 14 Plus</P>
        <div class="descripcion">
            
            <p class="desc"> 
                <span class="title">Características</span> <br><br>
                Procesador: A16 Bionic<br>
                RAM: 6Gb <br>
                Almacenamiento: 256<br> 
                Tamaño de pantalla: 6,7"
            </p>
        </div>

        <div class="precio">
            <p> precio:7'500.000</p>
            <button>Comprar</button>
        </div>

    </div>



</section>