    /* *{
        font-family: sans-serif;

    }
    .body{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 3% 10%;
        height: 70vh;
        align-items: center;
    }

    .left img {
        scale: 2.5;
        margin-right: 70%;
    }
    .nombre{
        font-size: 35px;
        font-weight: bold;
        margin: 30px 0px;
    }
    .title{
        font-size: 25px;
        font-weight: bold;
        
    }
    .descripcion{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        height: 30vh;
        font-size: 20px;
    } */


